<!DOCTYPE html>
<html lang="en">
	<head>
		
		<!-- Meta Tags -->
		
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	
		<title>Register</title>
		<meta name="description" content="Premium HTML5 Template">
		<meta name="keywords" content=" HTML5, Premium Template, Nucleus Theme">
		<meta name="author" content="Amazyne Themes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Favicon -->

		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<!-- Loading Google Fonts --> 

		<link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>

		<!-- Loading Third Party Styles --> 

		<link rel="stylesheet" href="../static/third-party/bootstrap/css/bootstrap.min.css"> 
		<link rel="stylesheet" href="../static/third-party/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/third-party/et-line/css/style.css">
		<link rel="stylesheet" href="../static/third-party/elegant-icons/css/style.css">
		<link rel="stylesheet" href="../static/third-party/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
		<link rel="stylesheet" href="../static/third-party/pe-icon-7-stroke/css/helper.css">
		<link rel="stylesheet" href="../static/third-party/nivo-lightbox/css/nivo-lightbox.css" /> 
		<link rel="stylesheet" href="../static/third-party/nivo-lightbox/themes/default/default.css"/>
		<link rel="stylesheet" href="../static/third-party/animate/css/animate.css"> 
		<link rel="stylesheet" href="../static/third-party/owl/css/owl.carousel.css"> 
		<link rel="stylesheet" href="../static/third-party/owl/css/owl.theme.css">
		<link rel="stylesheet" href="../static/third-party/form-validation/css/formValidation.min.css">

		<!-- Loading Theme's Styles -->

		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/custom.css">

		<!-- Script for IE < 9 -->

		<!--[if lt IE 9]>
		<script src="../static/third-party/respond/js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- Page Loader -->

		<div class="loader">
			<div class="spinner"></div>
		</div> 

		<!-- Page Content -->

		<div class="page-content no-margin-top">
				
			<div class="pad-top-100 pad-bot-100">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<!-- <h3 class="text-light mar-bot-25 text-center">Haven't seen you in these parts before.</h3> -->
							<h3 class="text-light mar-bot-25 text-center">Hmm, I don't beleive we've met.</h3>
							<!-- <h3 class="text-light mar-bot-25 text-center">First time visiting? Can I have your name traveler?</h3> -->
							<div class="form-theme form-dark">
							  <form action="" id="registration">
								<div class="form-group pad-bot-15">
									<label class="control-label text-uppercase letter-spacing-3 pad-bot-5 text-lighter"><small>Character's Name</small></label>
									<input type="text" class="form-control" name="characterName">
								</div>
								<hr class="mar-top-25 mar-bot-25 light"/>
								<div class="row form-group pad-bot-15">
									<div class="col-sm-12">
										<label class="control-label text-uppercase letter-spacing-3 pad-bot-5 text-lighter"><small>Race</small> </label>
									</div>
									<div class="col-md-6 pad-top-5 text-center-mobile">
										<div class="theme-checkbox success">
											<input type="checkbox" value="Human" id="humanCheckBox" name="characterRace" />
											<label for="humanCheckBox" class="control-label text-uppercase letter-spacing-3 pad-bot-5 text-lighter">Human</lable>
										</div>
									</div>														
									<div class="col-md-6 pad-top-5 text-center-mobile">
										<div class="theme-checkbox info">
											<input type="checkbox" value="Voraugh" id="voraughCheckBox" name="characterRace" />
											<label for="voraughCheckBox" class="control-label text-uppercase letter-spacing-3 pad-bot-5 text-lighter">Voraugh</lable>
										</div>
									</div>
								</div>
								<hr class="mar-top-25 mar-bot-25 light"/>
								<div class="btn-curtain btn-curtain-light btn-full-width"><a id="register" href="#" class="btn btn-full-width btn-lg">Create Account</a></div>
							  </form>
								<hr class="mar-top-25 mar-bot-25 light"/>
								<div class="row">
									<div class="col-sm-6 pad-top-5 text-center-mobile">
										<a href="#tab2" data-toggle="tab" class="text-light letter-spacing-2 text-uppercase mar-top-5" style="font-size: 11px;"><b>Already a Member?</b></a>
									</div>	
									<div class="col-sm-6 text-right mar-top-15-mobile text-center-mobile">
										<a href="/login" class="btn btn-dark btn-lg">Login</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="mar-top-25 mar-bot-25 light"/>
					<p class="text-center weight-400 text-lighter"><small>Fleet Commander Alpha V0.1</small>
				</div>
			</div>
		</div><!-- End of Page Content -->
		
		<!-- Loading Third Party Scripts -->

		<script src="../static/third-party/jquery/jquery.min.js"></script>
		<script src="../static/third-party/easing/js/jquery.easings.min.js"></script>
		<script src="../static/third-party/bootstrap/js/bootstrap.min.js"></script>	
		<script src="../static/third-party/nivo-lightbox/js/nivo-lightbox.min.js"></script>
		<script src="../static/third-party/owl/js/owl.carousel.js"></script>
		<script src="../static/third-party/isotope/js/isotope.pkgd.min.js"></script> 
		<script src="../static/third-party/counter-up/js/jquery.counterup.min.js"></script>
		<script src="../static/third-party/form-validation/js/formValidation.js"></script>
		<script src="../static/third-party/form-validation/js/framework/bootstrap.min.js"></script>
		<script src="../static/third-party/waypoint/js/waypoints.min.js"></script>
		<script src="../static/third-party/wow/js/wow.min.js"></script>
		<script src="../static/third-party/smooth-scroll/js/smoothScroll.js"></script>
		<script src="../static/third-party/jquery-parallax/js/jquery.parallax.js"></script>
		<script src="../static/third-party/jquery-parallax/js/jquery.localscroll.min.js"></script>
		<script src="../static/third-party/jquery-parallax/js/jquery.scrollTo.js"></script>
        
		<!-- Loading Theme's Scripts -->

		<script src="../static/js/scripts.js"></script>
		<script src="../static/js/custom.js"></script>

		<script>
		$('#register').on('click', function(){
			$.post( '/register', $('#registration').serialize(), function(data) {
			});
		});
		
		
		
		
		
		
		
		
		
		
		
		
		</script>
    </body>
</html>